@import  '../../App.scss';

.pokemon {
    @include flexbox(column);
    padding: $indent__m;

    &__name{
        font: {
            size: $font-size__l;
            family: $font-montserrat;
        }

        text-transform: uppercase;
        letter-spacing: $indent__xs;
        color: rgb(188, 4, 4);
    }

    &__image{

        &--img{
           height: 150px
        }
        
        
    }

    &__actions{
        text-align: center;

        &--button{
            @include button_style(rgb(188, 4, 4));
        
    }
}

&__type{
    display: inherit;
    text-transform: uppercase;
    font-family: $font-montserrat;
    font-weight: 600;

    p{
        padding: 0 $indent__s;
    }

}

  @each $name, $color in $colors{
    .pokemon__type--#{$name} {
        color: #{$color};
    }
  }


  @each $key, $color in $colors {
      .pokemon__image--#{$key} {
        @include pokemon-background($color) 
      }
}


}

