@import '../../App.scss';

.pokemon {
  @include flexbox(column);
  padding: $indent__m;

  &__name {
    font: {
      size: $font-size__l;
      family: $font-base;
    }

    text-transform: uppercase;
    letter-spacing: $indent__xs;
    color: rgb(188, 4, 4);
  }

  &__image {
    &--img {
      height: 150px;
    }
  }

  &__actions {
    text-align: center;

    &--button {
      @include button_style(rgb(188, 4, 4));
    }
  }

  &__type {
    display: inherit;
    text-transform: uppercase;
    font-family: $font-base;
    font-weight: 600;

    p {
      padding: 0 $indent__s;
      filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.445));
      margin-bottom: 0.75rem;
    }
  }

  @each $name, $color in $colors {
    .pokemon__type--#{$name} {
      color: #{$color};
    }
  }

  @each $key, $color in $colors {
    .pokemon__image--#{$key} {
      @include pokemon-background($color);
    }
  }
}

.btn {
        @include button_style-sm(rgb(18, 240, 136));
        letter-spacing: 1px;
}
