@mixin flexbox ($direction:row){
    align-items: center;
    display: flex;
    flex-direction: $direction;
    justify-content: space-between;
}

@mixin button-style($color: rgb(124, 36, 36)) {
    border: {
        radius: 10px;
        width: 3px;
        style:solid;
        color: $color;
    }

    background: lighten($color, 25%);
    color: white;
    font-size: $font-size__base;
    text-transform: uppercase;
    letter-spacing: $indent__xxs;
    cursor: pointer;
    padding: $indent__m ;

    &:hover{
        background: lighten($color, 15%);
    }
}

@mixin header-styles($border: false, $color: rgb(124, 36, 36)){
    @if $border {
        border: {
            radius: 10px;
            width: 3px;
            style:solid;
            color: $color;
        }

    } @else {
        background-color: $color ;
    }

}

@mixin pokemon-background($color: rgb(51, 134, 51)){
    background:radial-gradient( invert($color), $color);
    border-radius: 50%;
    box-shadow: 1px 0px 40px 8px $color;
    padding: $indent__l;
    margin: $indent__m;
}

@mixin responsive-mobile($size: $screen-mobile){
    @media screen and (max-width: $size){
        @content
    }
}

