@import '../../App.scss';

.header {

    @include flexbox;
    @include header-styles(true, rgb(12, 12, 12));

    padding: $indent__l;

    &_avatar,
    &_logo {
        flex: 0 0 15%;
    }

    &_logo {
       width: 200px;
    }

    &_title{
        font: {
            size: $font-size__l;
            family: $font-montserrat;
        }
    }

    &_avatar{

        &:hover {
            
        }


    }

}