@import url("https://fonts.google.com/specimen/Montserrat+Alternates?query=montserrat");

// 
// Spacing 
// ----------------------

$indent__base: 16px;

$indent__xxs: $indent__base * .3; 
$indent__xs: $indent__base * .4; // 8px
$indent__s: $indent__base * .5; // 8px
$indent__m: $indent__base * 1.5; // 24px
$indent__l: $indent__base * 2; // 32px
$indent__xl: $indent__base * 4; // 64px
$indent__xxl: $indent__base * 8; 
$indent__xxxl: $indent__base * 12; 


//
// Colores
// -----------------

$colors: (
    normal: #A8A77A,
    fire: #EE8130,
    water: #6390F0,
    electric: #F7D02C,
    grass: #7AC74C,
    ice: #96D9D6,
    fighting: #C22E28,
    poison: #A33EA1,
    ground: #E2BF65,
    flying: #A98FF3,
    psychic: #F95587,
    bug: #A6B91A,
    rock: #B6A136,
    ghost: #735797,
    dragon: #6F35FC,
    dark: #705746,
    steel: #B7B7CE,
    fairy: #D685AD,
);

$color-bg: #c7a311;

// breakpoints
//--------------------------

$screen-mobile: 680px;
